@font-face{

    font-family:"Enchanted";

    src:url("../assets/font/Enchanted Land.otf")
    format("opentype");

    font-weight:normal;

    font-style:normal;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Enchanted", serif;
}

html,
body{

    width:100%;
    min-height:100vh;

    background:#000;

    overflow:hidden;
}

button{

    border:none;
    background:none;

    cursor:pointer;
}

img{

    display:block;
    /* max-width:100%; */
}

.desktop-wrapper{

    width:100vw;
    height:100vh;

    display:flex;

    justify-content:center;
    align-items:center;

    position:relative;

    overflow:hidden;
}

.mobile-frame{

    width:430px;
    height:932px;

    position:relative;

    overflow:hidden;

    z-index:2;

    border-radius: 15px;
    box-shadow: 0 0 10px 0px wheat;
}

.hidden{

    display:none;
}

@media(max-width:768px){

    .mobile-frame{

        width:100%;
        height:100vh;
        border-radius: none;
        box-shadow: none;
    }

}